.CountryList {
  display: flex;
  align-items: center;
  height: 122px;
  margin-top: 20px;
  background-color: rgb(250, 250, 250);
  overflow: auto;
  white-space: nowrap;
  border: 1px solid rgba(0.9, 0.9, 0.9, 0.1);
}

.CountryList ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.CountryList::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}

.CountryList::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.CountryList::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #e8505b;
}
