.CountryList {
  display: flex;
  align-items: center;
  height: 122px;
  margin-top: 20px;
  background-color: rgb(250, 250, 250);
  overflow: auto;
  white-space: nowrap;
  border: 1px solid rgba(0.9, 0.9, 0.9, 0.1);
}

.CountryList ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
