.CountryIcon {
  display: inline-block;
  width: 150px;
  height: 105px;
  margin: 0 10px;
  padding: 0;
  color: #555;
}
.CountryIcon:hover {
  background-color: #eee;
  cursor: pointer;
}

.CountryIcon img {
  height: 76%;
}

.CountryIcon p {
  margin: 0;
}
